#df {
	display:none;
}



@media screen and (max-width: 600px) {
	.mobile-content-tablet {
	display:none;
	}

	.mobile-content-desktop {
		display:none;
	}
	.mobile-content-retina {
		display:none;
	}
}


@media screen and (min-width: 900px) {
	.mobile-content-tablet {
	display:none;
	}

	.mobile-content-mobile {
		display:none;
	}
	.mobile-content-retina {
		display:none;
	}
}


@media screen and (min-width: 600px) and (max-width: 900px) {
	.mobile-content-mobile {
		display:none;
	}
	
	.mobile-content-desktop {
		display:none;
	}
	.mobile-content-retina {
		display:none;
	}
}


@media screen and (max-device-width: 480px) {
	.mobile-content-tablet {
	display:none;
	}
	.mobile-content-desktop {
		display:none;
	}
	.mobile-content-retina {
		display:none;
	}


}